Import Libraries

<!-- Import Library  -->

In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
from keras.models import Sequential
from keras.layers import *

load train & test data

In [7]:
train_df=pd.read_csv(r'C:\Users\HP\OneDrive\Desktop\vs code\data\sale_training.csv')
train_df.head()

   critic_rating  is_action  ...  total_earnings  unit_price
0            3.5          1  ...          132717       59.99
1            4.5          0  ...           83407       49.99
2            3.0          0  ...           62423       49.99
3            4.5          1  ...           69889       39.99
4            4.0          1  ...          161382       59.99

[5 rows x 10 columns]

In [8]:
test_df=pd.read_csv(r'C:\Users\HP\OneDrive\Desktop\vs code\data\sales_testing.csv')
test_df.head()

   critic_rating  is_action  ...  total_earnings  unit_price
0       0.500000        1.0  ...        0.799179         1.0
1       0.166667        0.0  ...        0.157502         1.0
2       0.500000        0.0  ...        0.189704         1.0
3       0.666667        1.0  ...        0.392233         0.0
4       0.000000        1.0  ...        0.215464         1.0

[5 rows x 10 columns]

use minmax feature scailing to scale the variable between 0 & 1

In [9]:
scaler = MinMaxScaler(feature_range=(0, 1))
training_scalar=scaler.fit_transform(train_df)
testing_scalar=scaler.fit_transform(test_df)

create dataframe from scaled data

In [10]:
scaled_training_df = pd.DataFrame(training_scalar, columns=train_df.columns.values)
scaled_testing_df = pd.DataFrame(testing_scalar, columns=test_df.columns .values)
scaled_testing_df

     critic_rating  is_action  ...  total_earnings  unit_price
0         0.500000        1.0  ...        0.895324         1.0
1         0.166667        0.0  ...        0.159931         1.0
2         0.500000        0.0  ...        0.196837         1.0
3         0.666667        1.0  ...        0.428944         0.0
4         0.000000        1.0  ...        0.226358         1.0
..             ...        ...  ...             ...         ...
395       0.833333        1.0  ...        0.252528         1.0
396       0.666667        1.0  ...        0.363237         1.0
397       1.000000        1.0  ...        0.449522         0.0
398       0.000000        1.0  ...        0.107349         0.0
399       0.500000        1.0  ...        0.185974         0.5

[400 rows x 10 columns]

save scaled data into csv form

In [11]:
scaled_training_df.to_csv("sale_train_scaled.csv", index=False)
scaled_testing_df.to_csv("sale_test_scaled.csv", index=False)

load scaled data

In [13]:
train=pd.read_csv('sale_train_scaled.csv')
test=pd.read_csv('sale_test_scaled.csv')
train.head()

   critic_rating  is_action  ...  total_earnings  unit_price
0       0.500000        1.0  ...        0.374714         1.0
1       0.833333        0.0  ...        0.192425         0.5
2       0.333333        0.0  ...        0.114852         0.5
3       0.833333        1.0  ...        0.142452         0.0
4       0.666667        1.0  ...        0.480682         1.0

[5 rows x 10 columns]

split train data into x & y

In [16]:
x=train.drop('total_earnings',axis=1)
y=train['total_earnings']

create neural network

In [17]:
# Define the model
model = Sequential()
model.add(Dense(50, input_dim=9, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(1, activation='linear'))
model.compile(loss="mean_squared_error", optimizer="adam")

In [18]:
train.shape

(1000, 10)

fit the model

In [ ]:
model.fit(
    x,
    y,
    epochs=50,
    shuffle=True,
    verbose=2
)

Epoch 1/50
32/32 - 0s - loss: 9.2599e-05 - 71ms/epoch - 2ms/step
Epoch 2/50
32/32 - 0s - loss: 8.3965e-05 - 63ms/epoch - 2ms/step
Epoch 3/50
32/32 - 0s - loss: 9.3075e-05 - 84ms/epoch - 3ms/step
Epoch 4/50
32/32 - 0s - loss: 8.4601e-05 - 65ms/epoch - 2ms/step
Epoch 5/50
32/32 - 0s - loss: 6.5346e-05 - 60ms/epoch - 2ms/step
Epoch 6/50
32/32 - 0s - loss: 5.4203e-05 - 69ms/epoch - 2ms/step
Epoch 7/50
32/32 - 0s - loss: 6.2891e-05 - 77ms/epoch - 2ms/step
Epoch 8/50
32/32 - 0s - loss: 5.7980e-05 - 69ms/epoch - 2ms/step
Epoch 9/50
32/32 - 0s - loss: 5.5199e-05 - 67ms/epoch - 2ms/step
Epoch 10/50
32/32 - 0s - loss: 4.0136e-05 - 76ms/epoch - 2ms/step
Epoch 11/50
32/32 - 0s - loss: 4.0385e-05 - 72ms/epoch - 2ms/step
Epoch 12/50
32/32 - 0s - loss: 3.6229e-05 - 62ms/epoch - 2ms/step
Epoch 13/50
32/32 - 0s - loss: 3.4460e-05 - 64ms/epoch - 2ms/step
Epoch 14/50
32/32 - 0s - loss: 3.4436e-05 - 79ms/epoch - 2ms/step
Epoch 15/50
32/32 - 0s - loss: 3.4010e-05 - 76ms/epoch - 2ms/step
Epoch 16/50
32/32 - 0s - loss: 3.6704e-05 - 100ms/epoch - 3ms/step
Epoch 17/50
32/32 - 0s - loss: 4.7267e-05 - 81ms/epoch - 3ms/step
Epoch 18/50
32/32 - 0s - loss: 3.0074e-05 - 72ms/epoch - 2ms/step
Epoch 19/50
32/32 - 0s - loss: 2.8608e-05 - 71ms/epoch - 2ms/step
Epoch 20/50
32/32 - 0s - loss: 2.9864e-05 - 69ms/epoch - 2ms/step
Epoch 21/50
32/32 - 0s - loss: 3.1948e-05 - 67ms/epoch - 2ms/step
Epoch 22/50
32/32 - 0s - loss: 3.7853e-05 - 71ms/epoch - 2ms/step
Epoch 23/50
32/32 - 0s - loss: 3.8928e-05 - 69ms/epoch - 2ms/step
Epoch 24/50
32/32 - 0s - loss: 3.8656e-05 - 62ms/epoch - 2ms/step
Epoch 25/50
32/32 - 0s - loss: 3.0942e-05 - 68ms/epoch - 2ms/step
Epoch 26/50
32/32 - 0s - loss: 2.6075e-05 - 71ms/epoch - 2ms/step
Epoch 27/50
32/32 - 0s - loss: 3.3597e-05 - 65ms/epoch - 2ms/step
Epoch 28/50
32/32 - 0s - loss: 2.6094e-05 - 67ms/epoch - 2ms/step
Epoch 29/50
32/32 - 0s - loss: 2.1464e-05 - 60ms/epoch - 2ms/step
Epoch 30/50
32/32 - 0s - loss: 2.3856e-05 - 68ms/epoch - 2ms/step
Epoch 31/50
32/32 - 0s - loss: 2.3307e-05 - 75ms/epoch - 2ms/step
Epoch 32/50
32/32 - 0s - loss: 2.1000e-05 - 77ms/epoch - 2ms/step
Epoch 33/50
32/32 - 0s - loss: 2.7483e-05 - 79ms/epoch - 2ms/step
Epoch 34/50
32/32 - 0s - loss: 4.4510e-05 - 78ms/epoch - 2ms/step
Epoch 35/50
32/32 - 0s - loss: 1.7195e-04 - 66ms/epoch - 2ms/step
Epoch 36/50
32/32 - 0s - loss: 7.5898e-05 - 72ms/epoch - 2ms/step
Epoch 37/50
32/32 - 0s - loss: 3.0713e-05 - 72ms/epoch - 2ms/step
Epoch 38/50
32/32 - 0s - loss: 2.1565e-05 - 73ms/epoch - 2ms/step
Epoch 39/50
32/32 - 0s - loss: 2.2252e-05 - 76ms/epoch - 2ms/step
Epoch 40/50
32/32 - 0s - loss: 2.9108e-05 - 69ms/epoch - 2ms/step
Epoch 41/50
32/32 - 0s - loss: 1.9289e-05 - 71ms/epoch - 2ms/step
Epoch 42/50
32/32 - 0s - loss: 2.0494e-05 - 67ms/epoch - 2ms/step
Epoch 43/50
32/32 - 0s - loss: 2.4710e-05 - 78ms/epoch - 2ms/step
Epoch 44/50
32/32 - 0s - loss: 2.4751e-05 - 82ms/epoch - 3ms/step
Epoch 45/50
32/32 - 0s - loss: 1.9604e-05 - 85ms/epoch - 3ms/step
Epoch 46/50
32/32 - 0s - loss: 2.2899e-05 - 81ms/epoch - 3ms/step
Epoch 47/50
32/32 - 0s - loss: 2.5212e-05 - 79ms/epoch - 2ms/step
Epoch 48/50
32/32 - 0s - loss: 2.5183e-05 - 75ms/epoch - 2ms/step
Epoch 49/50
32/32 - 0s - loss: 2.1795e-05 - 76ms/epoch - 2ms/step
Epoch 50/50
32/32 - 0s - loss: 2.1918e-05 - 63ms/epoch - 2ms/step

split test data into x & y

In [ ]:
x_test=test.drop('total_earnings',axis=1)
y_test=test['total_earnings']

predict the model

In [ ]:
y_pred= model.evaluate(x_test, y_test, verbose=0)
y_pred

0.0012547705555334687